
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="@Url.Content("~/css/zerogrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/mb-comingsoon-iceberg.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/js/jquery-2.1.1.js")"></script>
</head>

<body>
    <div class="wrap-body">
        <header>
            <div class="wrap-header">
                <div class="main-header">
                    <div class="zerogrid">
                        <h1>Персональный стилист</h1>
                        <h1>Баранова Екатерина</h1>
                        <div class="counter">
                            <div class="centered text-center" id="myCounter"></div>
                        </div>
                        <h2>осталось до окончания дествия скидки на первую консультацию</h2>
                    </div>
                </div>
            </div>

        </header>

        <section id="container">
            <div class="wrap-container">
                <section class="content-box boxstyle-1 box-1">
                    <div class="zerogrid">
                        <div class="row wrap-box">
                            <div class="col-1-2">
                                <div class="col-3-5">
                                    <div class="wrap-col">
                                        <h1> ОБО <br>МНЕ</h1>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id fermentum eros. Sed ultricies, tellus in gravida maximus, ex eros feugiat libero, et aliquet velit quam at metus. Vivamus sollicitudin dolor nec tortor bibendum elementum. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla consectetur sagittis faucibus. Quisque varius nunc eu augue malesuada bibendum eget nec libero. Suspendisse id lectus commodo, facilisis dolor in, vulputate eros. In tempus mollis nunc a feugiat. Nam consectetur, lorem imperdiet hendrerit posuere, erat lorem tristique nulla, ut imperdiet nibh nunc volutpat tellus.
                                            Curabitur fermentum sagittis pulvinar. Vivamus bibendum velit ut enim aliquam maximus eget eu tortor. Quisque nec nisi sed dui aliquam pretium. In eleifend facilisis felis, sed hendrerit leo fermentum sit amet. Aliquam facilisis consectetur neque, eu rutrum justo scelerisque eu. Curabitur et erat sed felis ultrices vehicula. Nulla semper dolor nec rutrum ultrices. Fusce congue mollis ligula sit amet tempus.Ut vulputate est at dignissim accumsan. Quisque suscipit diam quis libero pharetra finibus. Aenean fermentum aliquam leo, ut mattis ante cursus euismod. Curabitur aliquam nisi erat, ut feugiat lectus hendrerit a. Sed dignissim elit a quam consectetur, at pharetra nunc gravida. Integer id sodales urna, quis convallis erat. Praesent non ornare ipsum.
                                            Phasellus nulla mauris, vestibulum nec justo non, mattis cursus justo. Curabitur sed arcu in nunc suscipit feugiat. Curabitur nulla purus, iaculis eu faucibus sed, rutrum ac massa. Nam diam lacus, tristique in purus vel, sollicitudin luctus est. Praesent sodales diam sagittis efficitur eleifend. Nulla tincidunt orci sed mollis fermentum. Donec scelerisque molestie dictum. Curabitur vitae nibh in eros aliquet sodales ac vitae tortor. Nunc scelerisque risus at ipsum laoreet, ac hendrerit turpis congue. Cras suscipit tincidunt velit nec ornare. Aliquam sit amet magna elit. Morbi pretium ante in nulla efficitur venenatis.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-2-5">
                                    <div class="wrap-col">
                                        <img src="~/IMAGES/VR-ODGXkfKQ.jpg">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>

                <!-----------------content-box-2-------------------->
                <section class="content-box boxstyle-2 box-2">
                    <div class="zerogrid" style="width: 100%;">
                        <div class="row wrap-box">
                            <!--Start Box-->
                            <div class="header">
                                <div class="wrapper">
                                    <h2 class="color-yellow">ГАЛЕРЕЯ</h2>
                                    <hr class="line">
                                    <div class="intro">Lorem ipsum dolor sit amet</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1-3">
                                    <div class="item-container">
                                        <div class="item-caption">
                                            <div class="item-caption-inner">
                                                <div class="item-caption-inner1">

                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/IMAGES/1tbtqZ3fuII.jpg" />
                                    </div>
                                </div>
                                <div class="col-1-3">
                                    <div class="item-container">
                                        <div class="item-caption">
                                            <div class="item-caption-inner">
                                                <div class="item-caption-inner1">

                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/IMAGES/4c38ca78686117.5cac57681bd7d.jpg" />
                                    </div>
                                </div>
                                <div class="col-1-3">
                                    <div class="item-container">
                                        <div class="item-caption">
                                            <div class="item-caption-inner">
                                                <div class="item-caption-inner1">

                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/IMAGES/af68e578686117.5cac57681c3dd.jpg" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1-3">
                                    <div class="item-container">
                                        <div class="item-caption">
                                            <div class="item-caption-inner">
                                                <div class="item-caption-inner1">

                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/IMAGES/7af3f778686117.5cac57681d5ad.jpg" />
                                    </div>
                                </div>
                                <div class="col-1-3">
                                    <div class="item-container">
                                        <div class="item-caption">
                                            <div class="item-caption-inner">
                                                <div class="item-caption-inner1">

                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/IMAGES/c0ac2978686117.5cac57681c9d2.jpg" />
                                    </div>
                                </div>
                                <div class="col-1-3">
                                    <div class="item-container">
                                        <div class="item-caption">
                                            <div class="item-caption-inner">
                                                <div class="item-caption-inner1">

                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/IMAGES/OGNsVixNFs4.jpg" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1-3">
                                    <div class="item-container">
                                        <div class="item-caption">
                                            <div class="item-caption-inner">
                                                <div class="item-caption-inner1">

                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/IMAGES/ec77e578686117.5cac57681c764.jpg"/>
                                    </div>
                                </div>
                                <div class="col-1-3">
                                    <div class="item-container">
                                        <div class="item-caption">
                                            <div class="item-caption-inner">
                                                <div class="item-caption-inner1">

                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/IMAGES/ePXyba7Kzh8.jpg" />
                                    </div>
                                </div>
                                <div class="col-1-3">
                                    <div class="item-container">
                                        <div class="item-caption">
                                            <div class="item-caption-inner">
                                                <div class="item-caption-inner1">

                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/IMAGES/WccfoyGVC3E.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-----------------content-box-3-------------------->
                <section class="content-box boxstyle-3 box-3">
                    <div class="zerogrid">
                        <div class="row wrap-box">
                            <!--Start Box-->
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate leo id mattis tempus. Proin euismod facilisis varius. Fusce ac sollicitudin lacus.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate leo id mattis tempus. Proin euismod facilisis varius. Fusce ac sollicitudin lacus. Mauris efficitur elit erat, et molestie odio rutrum nec. Nulla dui augue, efficitur vel elementum eu, molestie ut eros. Sed imperdiet nibh ut neque euismod, eu luctus lectus laoreet. Praesent vitae blandit sem. Donec sagittis, velit ut imperdiet consequat, leo sem rhoncus augue, id euismod libero tellus vitae tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed varius faucibus dolor, at eleifend turpis varius vel. Nam ut erat orci. In tristique libero sit amet scelerisque egestas.</p>
                        </div>
                    </div>
                </section>




        <!--////////////////////////////////////Footer-->
        <footer>
            <div class="wrap-footer">
                <div class="zerogrid">
                    <div class="row">
                        <h3>Свяжись со мной!</h3>
                        <span>Phone / +7(965)-036-54-16 </span></br>
                        <span>Instagram / <a href="https://www.instagram.com/katya_smaga_/">Катя</a>  </span></br>
                        <span><a href="~/CallMeBack.aspx">Оставить заявку на обратный звонок</a>  </span>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>
